extends layout.pug

block content
  h1="Lyrics"
        
block footer
  ul(class='footer')
    li
      a(href='/back', class='btn btn-primary') Retour
      a(href='/logout', class='btn btn-secondary') Log out