extends layout.pug

block content
  h1="My playlists"
  ul(class='list-group list-group-flush')
    each playlist in playlists
      li(class='list-group-item')=playlist.name
        a(href='/tracks')
        span(class="badge badge-primary badge-pill")=playlist.tracks.total
        
block footer
  ul(class='footer')
    li
      a(href='/logout', class='btn btn-secondary') Log out