extends layout.pug
block content

  h1="Tracks"
  ul(class='list-group list-group-flush')
    each track in tracks
      li(class='list-group-item')=track.name
  a(href='/playlists', class='btn btn-primary') Retour
block footer
  ul(class='footer')
    li
      a(href='/logout', class='btn btn-secondary') Log out