html
  head
    title Spotifyrics ✨
    link(rel='icon', sizes='16x16 32x32 48x48 64x64', href='/icon.ico')
    link(rel='stylesheet' href='https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css')
    link(rel='stylesheet' href='/style.css')
  body
    block content
    block footer