extends layout.pug

block content
  h1="Lyrics"
    h2=author
      each part in lyrics
        li(class='list-group-item')
          p=part
block footer
  ul(class='footer')
    li
      a(href='/back', class='btn btn-primary') Retour
      a(href='/logout', class='btn btn-secondary') Log out