extends layout.pug

block content
  h1(class="text-center")="Lyrics"
    h2(class='text-center')=songName
    h3(class="text-center font-italic")=' by ' + author
      each part in lyrics
          h3(style="padding-left: 20%; padding-right: 20%; padding-bottom: 2%;")=part
block footer
  ul(class='footer')
    li
      a(href='/back', class='btn btn-primary') Retour
      a(href='/logout', class='btn btn-secondary') Log out