extends layout.pug

block content
  h1(class="text-center")="Playlists"
  ul(class='list-group list-group-flush')
    each playlist in playlists
        h3(class='list-group-item active')=playlist.name
        each song in playlistsSongs.get(playlist.id)
          ul(class='list-inline ml-5')
            li(class='list-inline-item font-weight-bold')=song.track.name
            li(class='list-inline-item')='by ' + song.track.artists[0].name
            a(href='/lyrics/?name=' + song.track.name + '&artist=' + song.track.artists[0].name, class='list-inline-item btn') 🎤
        
block footer
  ul(class='footer')
    li
      a(href='/logout', class='btn btn-secondary') Log out